/***** 
Colors 
******/

$white: #fff;
$light-grey: #ccc;
$turqouise: #58e1c1;
$light-blue: #51ddfc;
$lighter-blue: lighten($light-blue, 15%);
$light-purple: #927bc1;

/***** 
Media Queries
******/

$brk-sml: 768px;



